# IDE (Visual Studio Code)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions-.json

#folders
img/
fonts/
library/
content/
lib/
fonts/
json/

#img
*.img
*.jpg
*.webp
*.svg

#vid
*.mp4
*.avi
*.mkv

#pkg

#log
*.log
password.txt
robots.txt

#etc
sitemap.xml