/* nav */

nav {
    background-color: #282828;
    color: #ece5e0;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* nav-left */

.nav-left {
    background-color: #363945;
    padding: 16px 8px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-left i {
    font-size: 36px;
    transition: all 0.50s ease-in-out;
}

/* nav-right */

.nav-right {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.nav-right a {
    display: inline-block;
    text-decoration: none;
    color: #ece5e0;
    font-size: 28px;
    padding: 8px;
    border-radius: 44px;
    border: 4px dotted transparent;
    transition: all 0.25s ease-in-out;
}

.nav-right a:hover {
    background-color: #ece5e0;
    color: #282828;
}

.nav-right a:active {
    transform: scale(0.95);
    background-color: #b9b3af;
}

.nav-right ul {
    list-style-type: none;
}

.nav-right li {
    display: inline;
}

/* topics */

.nav-right .topics-today::after {
    content: '';
    display: block;
    margin: 0 auto;
    border-bottom: 3px double #ee6055;
    width: 100%;
}

/* progress bar */

.progress-bar-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 12px;
    background-color: #282828;
}

.progress-bar-child {
    height: 12px;
    background: #cc5c43;
    width: 0%;
}


/* main article */

article {
    margin: auto;
    text-align: center;
}

/* article-top */

.article-top {
    margin: auto;
    text-align: center;
    padding: 1.2rem;
    background-color: #b9b3af;
}

.article-top h1 {
    font-size: 50px;
}

.article-top hr {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    width: 50%;
    border: 2px solid #363945;
    border-radius: 12px;
}

.article-top img {
    margin: 0 auto;
    width: 1024px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.35);
}

/* article-top-child */

.article-top-child {
    margin: auto;
    margin-bottom: 0.25rem;
    padding: 6px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-top-child a {
    padding: 4px;
    text-decoration: none;
    color: #363945;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.25s linear;
}

.article-top-child a:hover {
    background-color: #282828;
    color: #ece5e0;
}

/* atc-left */

.atc-left {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    gap: 0.50rem;
}

.atc-left hr {
    margin: 0;
    width: 0;
    height: 16px;
    border: 1px solid #282828;
}

.atc-left h5 {
    font-style: italic;
}

/* atc-right */

.atc-right a {
    margin-right: 1rem;
}

/* figure */

figure {
    gap: 2rem;
}

figure figcaption {
    font-style: italic;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 50%;
    font-size: 22px;
}

/* article-container */

.article-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
    width: 70vw;
    gap: 10%;
}

/* article-main */

.article-main {
    margin: auto;
    margin-top: 1.2rem;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.article-main p::selection {
    color: #ece5e0;
    background: #363945;
}

/* article span links */

.am-in-link a {
    color: #FF7355;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    position: relative;
}

.am-in-link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.5px;
    width: 100%;
    height: 2px;
    background-color: #FF7355;
    transition: all 0.25s ease-in-out;
    transform: scaleX(0);
}

.am-in-link a:hover::after {
    background-color: #cc5c43;
    transform: scaleX(1);
}

.am-in-link a:hover {
    color: #cc5c43;
}

.am-in-link a:active {
    color: #bb4b42;
}

.am-in-link a:visited {
    color: #bb4b42;
}

/* article-quote */

.article-quote {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 6px;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    font-style: italic;
    border-left: 6px solid #cc5c43;
}

.article-quote p {
    padding: 8px;
}

.article-quote i {
    align-self: flex-start;
    font-size: 1.5rem;
    padding-left: 8px;
}

/* scroll to top btn */

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 12px;
    z-index: 1;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #fff;
    background-color: #033d5f;
    cursor: pointer;
    border-radius: 44px;
    transition: all 0.25s ease-in-out;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.55);
}

#scrollTopBtn:hover {
    color: #ece5e0;
    background-color: #282828;
}

#scrollTopBtn i {
    font-size: 1rem;
    margin-left: .50rem;
}

/* first letter */

.am-first-paragraph::first-letter {
    initial-letter: 3;
    padding: 0.25%;
    border-bottom: 2px solid #363945;
}

/* last paragraph */

.am-last-paragraph {
    margin-bottom: 1.2rem;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) and (min-width: 250px) {
    /* nav */

    nav {
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* nav-left */

    .nav-left {
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .nav-left i {
        color: #FF7355;
        cursor: pointer;
        margin-right: 0.25rem;
        transition: all 0.50s ease-in-out;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    .nav-left i:active {
        transition: none;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
    }

    /* nav-right */

    .nav-right {
        display: none;
        position: static;
        text-align: center;
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 0.3s ease-in-out;
        width: 90%;
    }

    .nav-right hr {
        display: none;
    }

    .nav-right a {
        display: block;
        margin: 0 auto;
        margin-top: 0.50rem;
        margin-bottom: 0.50rem;
        width: 100%;
        font-size: 24px;
        border: none;
        padding: 10px;
    }

    .nav-right.show {
        display: block;
        max-height: fit-content;
        overflow-y: auto;
    }
}

@media screen and (max-width: 1248px) {
    /* nav */

    nav {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* nav-left */

    .nav-left {
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .nav-left i {
        color: #FF7355;
        cursor: pointer;
        margin-right: 0.25rem;
        transition: all 0.50s ease-in-out;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    .nav-left i:active {
        transition: none;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
    }

    /* nav-right */

    .nav-right {
        display: none;
        text-align: center;
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 0.3s ease-in-out;
        width: 75%;
    }

    .nav-right hr {
        display: none;
    }

    .nav-right a {
        display: block;
        font-size: 22px;
        padding: 6px;
        margin-top: 0.50rem;
        margin-bottom: 0.50rem;
        border: none;
    }

    .nav-right {
        position: relative;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    .nav-right.show {
        display: block;
        max-height: 412px;
        overflow-y: auto;
    }
}

@media screen and (max-width: 768px) and (min-width: 250px) {
    /* article top */

    .article-top h1 {
        font-size: 32px;
    }

    .article-top hr {
        margin-top: 0.50rem;
        width: 85vw;
    }

    .article-top img {
        width: 85vw;
    }

    /* article-top-child */

    .article-top-child {
        width: 100%;
    }

    .article-top-child a {
        padding: 2px;
    }

    /* atc-left */
    .atc-left h3 {
        font-size: 18px;
    }

    .atc-left hr {
        margin: 0;
        width: 0;
        height: 16px;
        flex: 1;
        border: 1px solid #282828;
    }

    /* atc-right */

    .atc-right a {
        margin-right: 0.25rem;
    }

    /* figure properties */

    figure {
        gap: 2rem;
    }

    figure figcaption {
        margin-bottom: 0;
        width: 100%;
        font-size: 18px;
    }

    /* article main */

    .article-main {
        width: 90vw;
        font-size: 20px;
    }

    .article-quote {
        font-size: 20px;
        width: 85vw;
    }

    .article-quote i {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    /* article top */

    .article-top h1 {
        font-size: 36px;
    }

    .article-top img {
        width: 90vw;
    }

    /* article-top-child */

    .article-top-child {
        width: 90vw;
    }

    .article-top-child a {
        padding: 4px;
    }

    /* atc-left */

    .atc-left h3 {
        font-size: 20px;
    }

    .atc-left hr {
        height: 16px;
    }

    /* figure properties */

    figure figcaption {
        margin-bottom: 0;
        width: 100%;
        font-size: 20px;
    }

    /* article main */

    .article-main {
        width: 90vw;
    }

    .article-quote {
        font-size: 24px;
        width: 80vw;
    }

    .article-quote i {
        font-size: 28px;
    }

    /* first letter */

    .am-first-paragraph::first-letter {
        initial-letter: 2;
    }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
    /* article top */

    .article-top h1 {
        font-size: 42px;
    }

    .article-top img {
        width: 80vw;
    }

    /* article-top-child */

    .article-top-child {
        width: 80vw;
    }

    .article-top-child a {
        font-size: 20px;
        padding: 4px;
    }

    /* atc-left */

    .atc-left h3 {
        font-size: 24px;
    }

    /* figure properties */

    figure figcaption {
        font-size: 24px;
    }

    /* article main */

    .article-main {
        width: 80vw;
    }

    .article-quote {
        font-size: 24px;
        width: 70vw;
    }

    .article-quote i {
        font-size: 28px;
    }

    /* first letter */

    .am-first-paragraph::first-letter {
        initial-letter: 2;
    }
}

@media screen and (max-width: 1490px) and (min-width: 1200px) {
    .article-container {
        width: 80vw;
    }
}