/* support for dark mode */

@media (prefers-color-scheme: dark) {
    #articleMain {
        background-color: #272727;
        color: #ece5e0;
    }

    #articleMain p {
        color: #ece5e0 !important;
    }

    #articleMain .article-top {
        color: #272727;
        background-color: #ece5e0 !important;
    }
}

/* progress bar */

.progress-bar-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 12px;
    background-color: #282828;
}

.progress-bar-child {
    height: 12px;
    background: #cc5c43;
    width: 0%;
}

/* main article */

article {
    margin: auto;
    text-align: center;
}

/* article-top */

.article-top {
    margin: auto;
    text-align: center;
    padding: 1.2rem;
    background-color: #b9b3af;
}

.article-top h1 {
    font-size: 50px;
}

.article-top hr {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    width: 50%;
    border: 2px solid #363945;
    border-radius: 12px;
}

/* article-top-child */

.article-top-child {
    margin: auto;
    margin-bottom: 0.25rem;
    padding: 6px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-top-child a {
    padding: 4px;
    text-decoration: none;
    color: #363945;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.25s linear;
}

.article-top-child a:hover {
    background-color: #282828;
    color: #ece5e0;
}

/* atc-left */

.atc-left {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    gap: 0.5rem;
}

.atc-left hr {
    margin: 0;
    width: 0;
    height: 16px;
    border: 1px solid #282828;
}

.atc-left time {
    font-weight: bold;
    font-style: italic;
}

/* atc-right */

.atc-right a {
    color: #282828;
    margin-right: 1rem;
    font-weight: bold;
}

/* figure */

figure {
    gap: 2rem;
}

figure img {
    margin: 0 auto;
    width: 75vw;
    height: 85vh;
    object-fit: cover;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.35);
}

figure figcaption {
    font-style: italic;
    margin: auto;
    margin-top: 0.5rem;
    width: 75vw;
    font-size: 1.25rem;
}

/* article-container */

.article-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin: auto;
    width: 70vw;
    gap: 1.5rem;
}

/* article-main */

.article-main {
    margin: auto;
    margin-top: 1.2rem;
    font-size: clamp(1.15rem, 0.732rem + 2.7624vw, 1.25rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.article-paragraph {
    color: #000000;
    margin-bottom: 1.5rem;
    text-indent: 3.5rem;
    text-wrap: pretty;
    hanging-punctuation: first last;
}

.article-main>.am-first-paragraph {
    text-indent: 0;
}

.article-main p::selection {
    color: #ffffff;
    background: #363945;
}

.article-main ul::selection {
    color: #ffffff;
    background: #363945;
}

.article-main li::selection {
    color: #ffffff;
    background: #363945;
}

/* article span links */

.am-in-link a {
    color: #ff7355;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    position: relative;
}

.am-in-link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.5px;
    width: 100%;
    height: 2px;
    background-color: #ff7355;
    transition: all 0.25s ease-in-out;
    transform: scaleX(0);
}

.am-in-link a:hover::after {
    background-color: #cc5c43;
    transform: scaleX(1);
}

.am-in-link a:hover {
    color: #cc5c43;
}

.am-in-link a:active {
    color: #bb4b42;
}

.am-in-link a:visited {
    color: #bb4b42;
}

/* article-quote */

.article-quote {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    padding: 6px 6px;
    margin-bottom: 1.5rem;
    font-style: italic;
    border-left: 6px solid #cc5c43;
}

.article-quote p {
    text-indent: 0;
    padding-left: 0.5rem;
}

.article-quote i {
    align-self: flex-start;
    font-size: 2rem;
    padding-left: 0.5rem;
}

/* lists */

.article-ulist {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1.25rem;
}

.article-ulist>li {
    padding-bottom: 0.25rem;
}

.article-olist {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1.25rem;
}

.article-olist>li {
    padding-bottom: 0.25rem;
}

/* article images */

.am-in-img {
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
    border-radius: 18px;
}

/* font styling */

.am-in-heading {
    margin-bottom: 1rem;
}

.am-in-bold {
    font-weight: bold;
}

.am-in-italic {
    font-style: italic;
}

.am-in-bold::selection {
    color: #ffffff;
    background: #363945;
}

.am-in-italic::selection {
    color: #ffffff;
    background: #363945;
}

.aih-circle::before {
    content: "❍";
    position: relative;
    display: inline-flex;
    justify-self: center;
    align-self: center;
    margin-right: 0.25rem;
}

.twitter-tweet {
    margin-bottom: 1.25rem;
}

/* summary & details content */

.sum-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: baseline;
    width: 100%;
}

/* scroll to top btn */

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 12px;
    z-index: 1;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #fff;
    background-color: #033d5f;
    cursor: pointer;
    border-radius: 44px;
    transition: all 0.25s ease-in-out;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.55);
}

#scrollTopBtn:hover {
    color: #ece5e0;
    background-color: #282828;
}

#scrollTopBtn i {
    font-size: 1rem;
    margin-left: 0.5rem;
}

/* first letter */

.am-first-paragraph::first-letter {
    -webkit-inital-letter: 3;
    initial-letter: 3;
    margin-right: 0.5rem;
    /* for Fireofx */
    font-size: 200%;
}

/* last paragraph */

.am-last-paragraph {
    margin-bottom: 1.2rem;
}

/********** RESPONSIVE **********/

@media screen and (max-width: 768px) and (min-width: 250px) {
    /* article top */

    .article-top h1 {
        font-size: 32px;
    }

    .article-top hr {
        margin-top: 0.5rem;
        width: 85vw;
    }

    .article-top img {
        width: 85vw;
    }

    /* article-top-child */

    .article-top-child {
        width: 100%;
    }

    .article-top-child a {
        padding: 2px;
    }

    /* atc-left */
    .atc-left h3 {
        font-size: 18px;
    }

    .atc-left hr {
        margin: 0;
        width: 0;
        height: 16px;
        flex: 1;
        border: 1px solid #282828;
    }

    /* atc-right */

    .atc-right a {
        margin-right: 0.25rem;
    }

    /* lists */

    .article-ulist {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .article-olist {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    /* article inline flow */

    .am-in-img {
        max-width: 90%;
    }

    /* figure properties */

    figure {
        gap: 2rem;
    }

    figure img {
        width: 85vw;
        height: 35vh;
    }

    figure figcaption {
        margin-bottom: 0;
        width: 100%;
        font-size: 1rem;
    }

    /* article main */

    .article-main {
        width: 95vw;
        font-size: 20px;
    }

    .article-container {
        width: 90%;
    }

    .article-quote {
        font-size: 20px;
        width: 85vw;
    }

    .article-quote i {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    /* article top */

    .article-top h1 {
        font-size: 36px;
    }

    .article-top img {
        width: 90vw;
    }

    /* article-top-child */

    .article-top-child {
        width: 90vw;
    }

    .article-top-child a {
        padding: 4px;
    }

    /* atc-left */

    .atc-left h3 {
        font-size: 20px;
    }

    .atc-left hr {
        height: 16px;
    }

    /* lists */

    .article-ulist {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .article-olist {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    /* article inline flow */

    .am-in-img {
        max-width: 90%;
    }

    /* figure properties */

    figure img {
        width: 85vw;
        height: 55vh;
    }

    figure figcaption {
        margin-bottom: 0;
        width: 100%;
        font-size: 1.5rem;
    }

    /* article main */

    .article-main {
        width: 90vw;
    }

    .article-quote {
        font-size: 24px;
        width: 80vw;
    }

    .article-quote i {
        font-size: 28px;
    }

    /* first letter */

    .am-first-paragraph::first-letter {
        initial-letter: 2;
        -webkit-inital-letter: 2;
    }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
    /* article top */

    .article-top h1 {
        font-size: 42px;
    }

    .article-top img {
        width: 80vw;
    }

    /* article-top-child */

    .article-top-child {
        width: 80vw;
    }

    .article-top-child a {
        font-size: 20px;
        padding: 4px;
    }

    /* atc-left */

    .atc-left h3 {
        font-size: 24px;
    }

    /* figure properties */

    figure img {
        width: 85vw;
        height: 75vh;
    }

    figure figcaption {
        width: 85vw;
        font-size: 1.5rem;
    }

    /* article main */

    .article-main {
        width: 80vw;
    }

    .article-quote {
        font-size: 24px;
        width: 70vw;
    }

    .article-quote i {
        font-size: 28px;
    }

    /* first letter */

    .am-first-paragraph::first-letter {
        initial-letter: 3;
        -webkit-inital-letter: 3;
    }
}

@media screen and (max-width: 1490px) and (min-width: 1200px) {
    .article-container {
        width: 80vw;
    }
}