/********** BLOG PAGE **********/

/* nav */

nav {
    background-color: #282828;
    color: #ece5e0;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* nav-left */

.nav-left {
    background-color: #363945;
    padding: 16px 8px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-left i {
    font-size: 36px;
    transition: all 0.50s ease-in-out;
}

/* nav-right */

.nav-right {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.nav-right hr {
    display: inline-block;
    margin: 0 auto;
    height: 16px;
    border: 1px solid #ece5e0;
    border-radius: 12px;
}

.nav-right a {
    display: inline-block;
    text-decoration: none;
    color: #ece5e0;
    font-size: 28px;
    padding: 8px;
    border-radius: 44px;
    border: 4px dotted transparent;
    transition: all 0.25s ease-in-out;
}

.nav-right a:hover {
    background-color: #ece5e0;
    color: #282828;
}

.nav-right a:active {
    transform: scale(0.95);
    background-color: #b9b3af;
}

.nav-right ul {
    list-style-type: none;
}

.nav-right li {
    display: inline;
}

/* topics */

.nav-right .topics-today::after {
    content: '';
    display: block;
    margin: 0 auto;
    border-bottom: 3px double #ee6055;
    width: 100%;
}

/* content */

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    padding: 4rem;
    gap: 2.4rem;
    background-color: #b9b3af;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

/* content child top */

.ccl-top {
    display: flex;
    flex-direction: column;
}

.ccl-top a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #363945;
    transition: all .15s ease-in-out;
}

.ccl-top a:hover {
    color: #ee6055;
}

.ccl-top h1 {
    color: #282828;
    transition: all .15s ease-in-out;
}

.ccl-top h1:hover {
    color: #363945;
}

.ccl-top h2 {
    color: #044061;
    pointer-events: none;
}

.ccl-top i {
    display: inline-flex;
    vertical-align: middle;
    margin-right: .25rem;
    font-size: 2rem;
    transition: all .15s ease-in-out;
    animation-name: backgroundColorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.content-child-left hr {
    margin-top: .50rem;
    margin-bottom: .75rem;
    border: 2px solid #282828;
    border-radius: 18px;
}

/* content child bottom */

.ccl-bottom {
    display: flex;
    flex-direction: column;
}

.ccl-bottom p {
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ccl-bottom a {
    width: 275px;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .50rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #ece5e0;
    background: linear-gradient(to left, #363945 0%, #363945 50%, #ece5e0 50%, #ece5e0 100%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    border-radius: 44px;
    transition: all 0.25s ease-in-out;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(74, 74, 74, 0.5);
    -moz-box-shadow: 0px 0px 8px 0px rgba(74, 74, 74, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(74, 74, 74, 0.5);
}

.ccl-bottom a:hover {
    color: #363945;
    background-position: 0%;
}

.ccl-bottom a:hover>i {
    display: flex;
    -webkit-animation: scale-up-hor-left 0.4s ease-in-out both;
    animation: scale-up-hor-left 0.4s ease-in-out both;
}

.ccl-bottom a:active {
    color: #ece5e0;
    background: #282828;
    transform: scale(.95);
}

.ccl-bottom i {
    display: none;
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
}

/* ccl-top */

@keyframes backgroundColorPalette {
    0% {
        color: #ee6055;
    }

    25% {
        color: #60d394;
    }

    50% {
        color: #aaf683;
    }

    75% {
        color: #ffd97d;
    }

    100% {
        color: #ff9b85;
    }
}

@-webkit-keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

/* content child bottom */

.content-child-right {
    display: inline-flex;
}

.content-child-right img {
    border-radius: 18px;
    width: 600px;
    height: auto;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    transition: all .25s ease-in-out;
}

.content-child-right img:hover {
    cursor: pointer;
    -webkit-transform: translate(6px, -6px);
    -moz-transform: translate(6px, -6px);
    transform: translate(6px, -6px);
}

/* separator */

#separator {
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

#separator h2 {
    padding: .50rem;
    border: 2px ridge #282828;
    border-radius: 12px;
    pointer-events: none;
    text-align: center;
}

#separator hr {
    border: 1px solid #282828;
    width: 25%;
}

/* container */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

/* container child */

.container-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    border-radius: 18px;
    color: #ece5e0;
    background-color: #363945;
    width: 512px;
    max-height: 175px;
    height: auto;
}

.cc-img {
    width: 175px;
    min-height: 175px;
    height: auto;
    -webkit-border-top-left-radius: 18px;
    -webkit-border-bottom-left-radius: 18px;
    -moz-border-radius-topleft: 18px;
    -moz-border-radius-bottomleft: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    filter: sepia(1);
    transition: all .25s ease-in-out;
}

.cc-img:hover {
    filter: sepia(0);
}

.container-child-description h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    padding-left: .50rem;
    padding-right: .50rem;
    padding-top: 3px;
    background-color: #282828;
    -webkit-border-top-right-radius: 18px;
    -moz-border-radius-topright: 18px;
    border-top-right-radius: 18px;
}

.ccd-paragraph {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
    margin-top: .50rem;
    padding-left: .50rem;
    padding-right: .50rem;
}

/* container child - read-further */

.read-further {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: .75rem;
    padding: .25rem;
    width: 80%;
    text-decoration: none;
    text-align: center;
    color: #282828;
    background-color: #ece5e0;
    border-radius: 44px;
    overflow: hidden;
    transition: all .25s ease-out;
}

.read-further:hover {
    background-color: #bb4b42;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(28, 28, 28, 0.5);
    -moz-box-shadow: 0px 0px 8px 0px rgba(28, 28, 28, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(28, 28, 28, 0.5);
}

.read-further a {
    display: inline-flex;
    align-self: center;
    justify-self: center;
    color: #282828;
    font-weight: bold;
    text-decoration: none;
}

.read-further i {
    display: none;
    position: relative;
    color: #282828;
    font-size: larger;
    font-weight: bold;
    left: 1.75%;
    visibility: hidden;
    z-index: 1;
}

.read-further:hover>a {
    font-weight: 100;
    color: #ece5e0;
}

.read-further:hover>i {
    color: #ece5e0;
    visibility: visible;
    display: inline-flex;
    align-self: center;
    justify-self: center;
    vertical-align: middle;
    -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* read-further active */

.read-further:active {
    transform: scale(0.9);
    background-color: #282828;
}

/* read further */

@-webkit-keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

/* pagination */

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.50rem;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #044061;
    transition: all 0.25s ease-in-out;
}

.pagination a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: 50%;
    color: #ece5e0;
    transition: all 0.25s ease-in-out;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}

.pagination a i {
    font-size: 18px;
}

.pagination a.active {
    background-color: #bb4b42;
}

.pagination a.active:active {
    background-color: #282828;
}

/* animations */

.pagination li:hover {
    transform: scale(1.15);
}

.pagination li:active {
    transform: scale(1);
    background-color: #282828;
    color: #ece5e0;
}

/********** RESPONSIVE **********/

@media screen and (max-width: 768px) and (min-width: 250px) {

    /* header */

    header a.header-text {
        font-size: 1.55rem;
        font-weight: bold;
        width: fit-content;
        margin-right: .50rem;
    }

    .header-right {
        display: none;
        flex-direction: column;
    }

    .header-dropdown {
        display: flex;
        margin-right: 0;
    }

    .dropdown-content {
        top: 12.25%;
    }

    /* nav */

    nav {
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* nav-left */

    .nav-left {
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .nav-left i {
        color: #FF7355;
        cursor: pointer;
        margin-right: 0.25rem;
        transition: all 0.50s ease-in-out;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    .nav-left i:active {
        transition: none;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
    }

    /* nav-right */

    .nav-right {
        display: none;
        position: static;
        text-align: center;
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 0.3s ease-in-out;
        width: 90%;
    }

    .nav-right hr {
        display: none;
    }

    .nav-right a {
        display: block;
        margin: 0 auto;
        margin-top: 0.50rem;
        margin-bottom: 0.50rem;
        width: 100%;
        font-size: 24px;
        border: none;
        padding: 10px;
    }

    .nav-right.show {
        display: block;
        max-height: fit-content;
        overflow-y: auto;
    }

    /* content */

    #content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        gap: 1.2rem;
    }

    /* content child */

    .ccl-top {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
    }

    .ccl-top h1 {
        font-size: 1.25rem;
        text-align: left;
    }

    .ccl-top hr {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        color: #282828;
        border: 2px solid #282828;
        border-radius: 12px;
    }

    .ccl-top i {
        font-size: 24px;
    }

    /* ccl-bottom */

    .ccl-bottom a {
        margin: auto;
        margin-top: 2.5%;
        font-size: 1.4rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .ccl-bottom i {
        font-size: 1.5rem;
    }

    .ccl-bottom p {
        font-size: 1.1rem;
    }

    /* content child bottom */

    .content-child-right {
        display: inline-flex;
    }

    .content-child-right img {
        width: 90vw;
        height: auto;
    }

    /* container child */

    .container-child {
        width: 90vw;
    }

    /* separator */

    #separator {
        margin-bottom: 0;
    }

    #separator h2 {
        font-size: 1.4rem;
    }

    #separator hr {
        width: 50vw;
    }

    .pagination {
        margin-top: 1rem;
    }

    /* footer-top */

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .footer-top h2 {
        font-size: 32px;
    }

    .footer-top hr {
        margin-top: 0.15rem;
        margin-bottom: 0.25rem;
        height: 0;
        width: 90%;
        border: 1px solid #ece5e0;
        border-radius: 12px;
    }

    .footer-top-right a {
        text-decoration: none;
        color: #ece5e0;
        transition: all 0.25s ease-in-out;
        margin-right: 0.75rem;
    }

    .footer-top-right i {
        font-size: 36px;
    }

    .footer-top-right img {
        width: 38px;
        height: 38px;
    }

    /* footer-bottom */

    .footer-bottom {
        text-align: center;
        margin: 0 auto;
        margin-top: 0;
        font-size: 20px;
        width: 100%;
        padding: 12px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    /* header */

    header a.header-text {
        font-size: 2.25rem;
        font-weight: bold;
        width: fit-content;
        margin-right: auto;
    }

    .header-right a {
        padding: 12px;
        margin-right: .50rem;
    }

    .header-dropdown {
        margin-right: 2.5%;
    }

    .dropdown-content {
        top: 10%;
    }

    /* content */

    #content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        gap: 1.2rem;
    }

    /* content childs */

    /* content child */

    .ccl-top {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
    }

    .ccl-top h1 {
        font-size: 1.75rem;
        text-align: center;
    }

    .ccl-top i {
        font-size: 28px;
    }

    .ccl-bottom p {
        font-size: 1.2rem;
    }

    .content-child-right img {
        width: 90vw;
        height: auto;
    }

    .read-further {
        text-align: center;
        width: fit-content;
    }

    /* container child */

    .container-child {
        width: 90vw;
    }

    .read-further {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .ccl-bottom a {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: .75rem;
    }
}

@media screen and (max-width: 1365px) {
    /* nav */

    nav {
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* nav-left */

    .nav-left {
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .nav-left i {
        color: #FF7355;
        cursor: pointer;
        margin-right: 0.25rem;
        transition: all 0.50s ease-in-out;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    .nav-left i:active {
        transition: none;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
    }

    /* nav-right */

    .nav-right {
        display: none;
        text-align: center;
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 0.3s ease-in-out;
        width: 75%;
    }

    .nav-right hr {
        display: none;
    }

    .nav-right a {
        display: block;
        font-size: 24px;
        padding: 6px;
        margin-top: 0.50rem;
        margin-bottom: 0.50rem;
        border: none;
    }

    .nav-right {
        position: relative;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    .nav-right.show {
        display: block;
        max-height: 412px;
        overflow-y: auto;
    }
}