/* header */

header {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    background-color: #363945;
    padding: 24px 12px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.45);
}

header a {
    padding: 12px;
    border-radius: 44px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.25s ease-out;
}

header a.header-text {
    font-size: 36px;
    font-weight: bold;
}

header a.header-text:hover {
    color: #FF7355;
}

header a.header-text:active {
    color: #cc5c43;
}

/* header-right */

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.header-right i {
    display: inline-flex;
    align-items: center;
    color: #ece5e0;
    margin-right: .25rem;
    vertical-align: middle;
    font-size: 28px;
    transition: all 0.25s ease-out;
}

header a:hover {
    transition: border 0;
    background-color: #53586b;
    box-shadow: 0px 0px 12px 0px rgba(12, 12, 12, 0.5);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(12, 12, 12, 0.5);
    -moz-box-shadow: 0px 0px 12px 0px rgba(12, 12, 12, 0.5);
}

header a.active {
    background-color: #53586b;
    color: #ece5e0;
}

.header-right a {
    margin-right: 1rem;
    display: inline-flex;
    transition: all 0.25s ease-out;
}

.header-right a:hover,
.header-right a:hover i {
    color: #FF7355;
}

.header-right a:active,
.header-right a:active i {
    color: #cc5c43;
}

/* header dropdown */

.header-dropdown {
    display: none;
    margin-right: 10%;
    overflow: hidden;
}

.header-dropdown button {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
}

.header-dropdown button i {
    color: #FF7355;
    font-size: 2.5rem;
}

.header-dropdown button i:active {
    color: #cc5c43;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    background-color: #363945;
    min-width: fit-content;
    z-index: 1;
    transition: all 0.25s ease-in-out;
}

.dropdown-content a {
    margin: 0 auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 95%;
    color: #ece5e0;
    padding: 16px 12px;
    text-decoration: none;
}

.dropdown-content i {
    margin-right: .25rem;
}

.show {
    display: block;
}

/* header */

@media screen and (max-width: 768px) and (min-width: 250px) {
    header a.header-text {
        font-size: 28px;
        font-weight: bold;
        width: fit-content;
        margin-right: 5%;
    }

    .header-right {
        display: none;
        flex-direction: column;
    }

    .header-dropdown {
        display: flex;
        margin-right: 0;
    }

    .dropdown-content {
        top: 12.75%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    header a.header-text {
        font-size: 32px;
        font-weight: bold;
        width: fit-content;
        margin-right: auto;
    }

    .header-right a {
        padding: 12px;
        margin-right: .50rem;
    }

    .header-dropdown {
        margin-right: 2.5%;
    }

    .dropdown-content {
        top: 10.5%;
    }
}

@media screen and (max-width: 1024px) {
    .header-text {
        padding: 12px;
    }

    header a {
        padding: 6px;
        margin-right: 0rem;
    }
}